.caixa-chat {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30%;
    animation: grow .8s infinite;
    cursor: pointer;
    transition: 500ms;
    transition-delay: 1000ms;
}
.caixa-chat img {
    width: 100px;
    
}
 @-webkit-keyframes grow {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 8;
    }
}
section {
    position: fixed;
    bottom: 0;
}

audio { 
	margin: 15px auto;
	width: 100%;
}

.container {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    background-color: #3C3D52;
    border: 1px solid #fff;
}
.chat-container {
	margin: 10px auto;
	width: 100%;
    height: 250px;
	background: #3C3D52;
	color: #363636;
	font-size: 14px;
	font-family: verdana;
	overflow-y: scroll;
}

.input-question {
	width: 500px;
}

.title {
	text-align: center;
    background-color: #3C3D52;
    border: 1px solid #fff;
    padding: 1%; 
}

.title2 {
	text-align: center;
}

.field {
	width: 500px;
	line-height: 20px;
	margin: 20px auto;
	padding: 10px 5px;
	font-size: 14px;
	border: 0;
	border-bottom: 2px #ddd solid;
	color: #ddd;
	background: transparent;
}

.field:focus {
	outline: none;
}

button {
	display: block;
    background: #3395d6;
    font-size: 16px;
    color: #fff;
    padding: 0px 0px;
    border: 0;
    border-bottom: 2px #2772a4 solid;
    border-radius: 3px;
    text-shadow: 0.05em 0.05em black;
    width: 45px;
    margin-right: 30%;
    border-radius: 30px;
}

button:hover {
	background: #54504C;
	cursor: pointer;
    border-radius: 30px;
}

button:disabled {
	background: lightgray;
	border-bottom: 2px #54504C solid;
	pointer-events: none;
	text-shadow: none;
}

.controls {
	display: flex;
	justify-content: flex-start;
	margin: 0 auto 2% 25%;
}

.controls > button:last-child {
	margin-right: 0px;
}

.chat {
	border-radius: 5px;
	box-shadow: 0 0 6px #B2B2B2;
	display: block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
}

.bot {
	display: block;
	background: #3395d6;
	color: white;
	float: left;
	clear: both;
	margin: 5px 20px 15px 45px;
}

.bot:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #3395d6;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.me {
	display:block;
	clear: both;
	background: #EEE7E0;
	color: black;
	float: right;
	margin: 5px 45px 15px 20px;
}

.me:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #EEE7E0;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}
.material-icons {
    float: left;
    margin: 11px;
}

.hide {
	display: none;
}