.topo {
    width: 100%;
    height: 60px;
    overflow: visible;
    top: 0px;
    background-color: #141526;
    position: fixed;
    z-index: 999;
}
.logo-topo{
    float: left;
    font-weight: 900;
    width: 100px;
}
.logo-topo h1:hover{
    color: #1cbfff;
    cursor: pointer;
}
.centraliza-topo {
    max-width: 1300px;
    margin: auto;
}
.login-topo .material-icons{
    float: right;
    font-size: 40px;
    margin-top: 10px;
}
.login-topo .material-icons:hover {
    color: #1cbfff;
    cursor: pointer;
    
}
.centraliza-conteudo {
    background-color: #141526;
    width: 1349px;
    margin: auto;
    margin-top: 60px;;
}
.bloco-texto {
    float: left;
    padding: 34px;
    width: 70.9%;
    height: 430px;
    background-color: #141526;
}
.bloco-img {
    float: left;
    padding: 68px 10px 0px 10px;
    width: 22.5%;
    height: 430px;
    background-color: #141526;
}
.bloco-img img {
    width: 245px;
}
.topico {
    width: 1349px;
    height: 80px;
    background-color: #26273b;
    float: left;
    text-align: center;
}
.topico h1{
    font-size: 200%;
    margin-top: 18px;
}
.topico:hover {
    cursor: pointer;
    color: #1cbfff !important;
    background-color: #3c3d52 !important;
}
.rodape {
    float: left;
    width: 100%;
    height: 60px;
    overflow: visible;
    bottom: 0px;
}
.centraliza-rodape {
    max-width: 1300px;
    margin: auto;
    text-align: center;
}
.centraliza-rodape p {
    margin-top: 38px;
}


nav  .menu {
    
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15%;
    color: #141526;
    width: 100px;
    background-color: #26273b;

}
nav .menu{
    position: fixed;
}
nav ul ul {
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav {
    margin: 0 auto;
    float: left;
}
nav ul {
    background: linear-gradient(top, ##26273b );  
    padding: 5px 10px;
    list-style: none;
	position: relative;
	display: inline-table;

}
nav ul li {
    float: left;
}
nav ul li:hover a {
    color: #fff;
}
nav ul li a {
    display: block; padding: 2px 5px;
    color: #757575; 
}
nav ul ul li a {
    padding: 10px 5px;
    color: #141526;
}	
    nav ul ul li a:hover {
        background: #b46cf2;
    }   
    nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}

.menu {
    list-style: none;
    float: left;

}
.menu ul li {
    display: block;

}

.menu li ul li{
    display: block;
  
}
.menu a {
    color: black;
    text-decoration: none;
}
.mid-center {
    padding: 15px;
    
    
    
}
.text-topico {
    position: relative;
    float: left;
    margin-right: 50%;
}

 .img-right-topico #move {
     position: relative;
    height: 300px;
    overflow: visible;
   
    left: 0px;
    float: left;
    bottom: 200px;
    margin-left: 850px;
    height: 250px;
}

.cot-right{
    position: relative;
    float: left;
    margin-right: 50%;
    bottom: 150px;
}  


.img-left #move-left {
    position: relative;
   height: 300px;
   overflow: visible;
  
   left: 0px;
   float: left;
   bottom: 200px;
   margin-left: 750px;
   height: 250px;
   bottom: 250px;
}
.material-icons {
    float: left;
    margin: 17px;
}
.material-icons:hover {
    color: #1fa5e9;
    cursor: pointer;
}
