.container-conteudo {
    width: 80%;
    padding: 5% 10%;
}
fieldset {
    border: none;
}
.img-conteudo-esquerdo {
    text-align: center;
}
.img-conteudo-esquerdo img {
    width: 300px;
    position: absolute;
    left: 110px;
    bottom: 40px;
}
.container-direito {
    text-align: center;
}
form {
    text-align: left;
}
.form-group {
    margin: 10px 0px;
}
.container-direito .logo-form {
    margin: 30px 0;
}
.passwordInput {
    height: 24px;
    width: 24px;
    right: 4%;
    margin-top: 1.7%;
    position: absolute;
}
.passwordShowInput {
    height: 24px;
    width: 24px;
    right: 4%;
    margin-top: 1.7%;
    position: absolute;
    cursor: pointer;
}
